<!DOCTYPE html>
<html lang="en">
<head>
    <title>deleteUser</title>
</head>
<body>
    <h1>deleteUser</h1>
    <form id="loginForm"   action="/login" method="POST"> 
        <label>id:</label>
        <input type="text" class="form-control" id="id" name="id" placeholder="id">
        
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>

    <script>
        // Obtén el formulario y agrega un evento de envío
        const form = document.getElementById('loginForm');

        form.addEventListener('submit', async (event) => {
            // Evita que el formulario se envíe de forma predeterminada
            event.preventDefault();

            // Obtén los valores de los campos
            
            // Obtén los valores de los campos
            const id = document.getElementById('id').value;
            
            // Crea un objeto JSON con los datos del formulario
            const data = {               
                id:id,                
                controlador:"users",
                action:"changePassword"
            };

            try {
                // Envía los datos como JSON al backend usando fetch
                const response = await fetch('/sadiel/api', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
                
                // Maneja la respuesta del servidor
                if (response.ok) {
                    const result = await response.json();
                    alert(`Login successful!${result.message} `);
                     
                } else {
                    const error = await response.json();
                    alert(`Error: ${error.message}`);
                }
            } catch (error) {
                console.error('Error al enviar JSON:', error);
                alert('Hubo un problema al enviar los datos.');
            }
        });
    </script>
    
</body>
</html>